body {
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
    color: #434455;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}
a {
    text-decoration: none;
}
.a:hover, a:focus {
    color: #4d5ae5;
}
.link {
    text-decoration: none;
}
ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
} 
    address {
        font-style: normal;
    }
    button {
        cursor: pointer;}

    .container {
         width: 1158px;
         padding: 0 15px 0 15px;
         margin: 0 auto;  
        }
img {
    display: block;
}
    
    .visually-hidden {
         position: absolute;
         width: 1px;
         height: 1px;
         margin: -1px;
         border: 0;
         padding: 0;
         white-space: nowrap;
         clip-path: inset(100%);
         clip: rect(0, 0, 0, 0);
         overflow: hidden;         }

/*-----------HEADER----------*/
.header {
    border-bottom: 1px solid #e7e9fc;
}
.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        color: #4d5ae5;
        text-transform: uppercase;
        margin-right: 76px;
        padding: 24px 0;
}
.header-logo-italic {
    font-family: "Raleway", sans-serif;
    color: #2e2f42;
}
.header-navigation {
    display: flex;
    align-items: center;
}

.header-menu-list {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        display: flex;
        align-items: center;
        gap: 40px;
}
.header-menu-item {
    padding: 24px 0;
}
.header-menu-link {
    color: #2e2f42;
    padding: 24px 0;
}
.header-menu-link:hover, .header-menu-link:focus {
    color: #404bbf;
}
.header-contacts-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header-contacts-link {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
.header-contacts-link:hover, .header-contacts-link:focus {
    color: #404bbf;
}
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*-------HERO--------*/

.hero {
    background-color: #2e2f42;
    padding-top: 188px;
    padding-bottom: 188px;
}
.hero-btn-orange {
    font-family: inherit;
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
        background-color: #4d5ae5;
        display: block;
        margin: 0 auto;
        height: 56px;
        min-width: 169px;
        border: none;
        border-radius: 4px;
        
}
.hero-btn-orange:hover, .hero-btn-orange:focus  {
        background-color: #404bbf;
    }

.hero-title {
    font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
        max-width: 496px;
        margin: 0 auto 48px;
}
.hero-title:hover, .hero-title:focus {
    color: #404BBF;
}

/*-------------FEATURE---------*/

.feature {
    padding-top: 120px;
    padding-bottom: 120px;
}

.feature-list {
    display: flex;
    gap: 24px;
}

.feature-list-item {
    width: calc((100%-72px)/4);
}

.feature-subtitle {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
}

.feature-text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

/*---------TEAM-------*/
.team {
    background-color: #F4F4FD;
    padding-top: 120px;
    padding-bottom: 120px;
}

.team-title {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        text-transform: capitalize;
        color: #2e2f42;
        margin-bottom: 72px;
}

.team-list {
    background-color: #FFFFFF;
    display: flex;
    gap: 24px;
    border-radius: 0px 0px 4px 4px;
}

.team-list-item {
    width: calc((100%-72px)/4);
    border-radius: 0px 0px 4px 4px;
}
.team-name-profession {
    padding: 32px 0;
}
.team-images {
}

.team-subtitle {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        color: #2e2f42;
        letter-spacing: 0.02em;
        text-align: center;
        margin-bottom: 8px;
}

.team-text {
        font-size: 16px;
        line-height: 1.5;
        color: #434455;
        letter-spacing: 0.02em;
        text-align: center;
}
/*------PORTFOLIO------*/

.portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio-title {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        text-transform: capitalize;
        margin-bottom: 72px;
        
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 48px;
}
.portfolio-name {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-item {
    border-bottom: 1px solid var(--cornflower);
    width: ((100% - 48px) / 3);
}

.portfolio-images {
}

.portfolio-subtitle {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
}

.portfolio-text {
        font-size: 16px;
        line-height: 1.5;
        color: #434455;
        letter-spacing: 0.02em;
          
}

/*----------FOOTER---------*/
.foot {
    background-color: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
}

.foot-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    color: #4d5ae5;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 16px;
}

.foot-text {
    letter-spacing: 0.02em;
    font-size: 16px;
    line-height: 1.5;
    color: #f4f4fd;
    max-width: 264px;
}
.foot-logo-italic {
    color: #f4f4fd;
}